{% extends CYCLOPE_THEME_BASE_TEMPLATE %}

{% load layout %}

{% block body_class %}barra_lateral{% endblock %}

{% block page_content %}

<!-------------------------------------------------------------------------------------------------
WATER
------------------------------------------------------------------------------------------------->
        <div class="grid_5" >
          {% region 'water' %}
        </div>
        <!-- /water -->
<div class="grid_14">
<div id="fire">
    {% region 'before_fire' %}
    {% block content %}{% endblock %}
    {% region 'after_fire' %}
</div>
</div>

{% endblock %}
