<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load layout i18n tagging_tags %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{%if title %}{{title}} | {%endif%}{{ CYCLOPE_SITE_SETTINGS.global_title }}{%endblock%}</title>
    <meta name="Keywords" content="{{ CYCLOPE_SITE_SETTINGS.keywords }}" />
    <meta name="Description" content="{{ CYCLOPE_SITE_SETTINGS.description }}" />

    <link href="{{ CYCLOPE_THEME_MEDIA_URL }}css/home_arbol.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript" src="{{ CYCLOPE_STATIC_URL }}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{ CYCLOPE_STATIC_URL }}js/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript">
    $(function() {
      $('.boton').mouseenter(function(){
        $(this).animate({height:'+=25px', top:'-=25px'}, {easing:'easeInOutQuad', duration:500});
        $('.copa').animate({height:'-=10px', top:'+=10px'}, {easing:'easeInOutQuad',duration:700});
      }).mouseleave(function(){
        $(this).animate({height:'-=25px', top:'+=25px'}, {easing:'easeInOutQuad', duration:800});
        $('.copa').animate({height:'+=10px', top:'-=10px'}, {easing:'easeInOutQuad',duration:1000});
      });
    });
    </script>
    {% block extra_head %}{% endblock %}
  </head>

  <body class="{% block body_class %}{%endblock%}">
    <ul id="botones-home">
      <li><a class="boton nosotros" href="/nosotros">Nosotros</a></li>
      <li><a class="boton bitacora" href="/bitacora">Bitácora</a></li>
      <li><a class="boton historia" href="/historia">Historia</a></li>
    </ul>
    <div id="copas">
      <div class="copa a"></div>
      <div class="copa b"></div>
      <div class="copa nosotros"></div>
      <div class="copa bitacora"></div>
      <div class="copa historia"></div>
    </div>
  </body>
